body { font-size: .8em; }

#toolbar {
    padding: 10px 4px;
}

.noCloseBtn .ui-dialog-titlebar-close{
    display: none;
}

.sliderValue {
    position: absolute;
    color:#f6931f; 
    font-weight:bold;
}

#tabs-1 {
    padding: 30px;
}

.dialogSubGroup {
    border: 1px solid #BBB;
    padding: 5px;
 }

.viewer {
   padding: 5px 35px;
   width: 300px;
   height: 270px; 
}

.viewer img {
   border: 1px solid #BBB;
   padding: 1px;
}


a:focus {
	
}

#tabs {
    min-width: 910px; 
 }

