<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Accessible jQuery-ui Components Demo</title>
	<script type="text/javascript" src="jquery-ui-min/jquery-1.7.2.min.js"></script>

	<!-- jQuery-UI Core files (minified) -->
	<link type="text/css" href="jquery-ui-min/jquery-ui.min.css" rel="stylesheet" />
	<link type="text/css" href="jquery-ui-min/jquery.ui.menubar.css" rel="stylesheet" />
	<script type="text/javascript" src="jquery-ui-min/jquery-ui.min.js"></script>

	<!-- JCarousel specific files -->
	<link rel="stylesheet" type="text/css" href="jcarousel/skins/tango/skin.css" />
	<script type="text/javascript" src="jcarousel/lib/jquery.jcarousel.js"></script>

	<!-- JSTree plugin files -->
	<script type="text/javascript" src="jstree-a11y/jsTree.v.1.0rc2/lib/jquery.cookie.js"></script>
	<script type="text/javascript" src="jstree-a11y/jsTree.v.1.0rc2/lib/jquery.hotkeys.js"></script>
	<script type="text/javascript" src="jstree-a11y/jsTree.v.1.0rc2/jquery.jstree.js"></script>

	<!-- Temporary Datepicker Files -->
	<script type="text/javascript" src="jquery-ui-min/external/globalize.js"></script>
	<script type="text/javascript" src="jquery-ui-min/datepicker-rewrite/localization.js"></script>
	<script type="text/javascript" src="jquery-ui-min/datepicker-rewrite/date.js"></script>
	<script type="text/javascript" src="jquery-ui-min/datepicker-rewrite/picker.js"></script>
	<script type="text/javascript" src="jquery-ui-min/datepicker-rewrite/jquery.tmpl.js"></script>

	<!-- Demo specific files  -->
	<script type="text/javascript" src="demo.js"></script>
	<link rel="stylesheet" type="text/css" href="demo.css" />
</head>
<body>

<div class="demo">
	<h1>Accessible jQuery-ui Components Demonstration</h1>
	<div class="ui-helper-hidden-accessible" aria-live="polite">
		<h2>Instructions for Screen Reader Users:</h2>
		<p>This page contains some interactive controls that you would normally only find in desktop applications.
		Examples of such controls are tab lists, menu bars, sliders, and tree views. These controls are often operated using the arrow keys, which means your screen
		reader must temporarily switch off virtual navigation mode in order to interact with them. Some screen readers will automatically switch between modes depending on the control's type,
		while others require you to manually turn virtual mode off. The list below shows how to switch between modes on some popular screen readers:
		</p>
		 <dl>
		 	<dt>JAWS</dt>
		 	<dd>JAWS KEY + Z, use twice to make switch permanent</dd>
		 	<dt>NVDA</dt>
		 	<dd>NVDA KEY + SPACE</dd>
		 	<dt>WindowEyes</dt>
		 	<dd>Ctrl + Shift + A</dd>
		 </dl>
	</div>
	<p class="ui-helper-hidden-accessible" id="demoTabsLabel">Widgets Tabs</p>
	<div id="demoTabs">
		<ul aria-labelledby="demoTabsLabel">
			<li><a href="#slider">Slider</a></li>
			<li><a href="#progressbar">Progress bar</a></li>
			<li><a href="#menubar">Menubar</a></li>
			<li><a href="#button">Buttons</a></li>
			<li><a href="#dialog">Dialog</a></li>
			<li><a href="#checkbox">Checkbox</a></li>
			<li><a href="#accordion">Accordion</a></li>
			<li><a href="#tree">Tree</a></li>
			<li><a href="#carousel">Carousel</a></li>
			<li><a href="#tabs">Tabs</a></li>
			<li><a href="#tooltip">Tooltip</a></li>
			<li><a href="#autocomplete">Autocomplete </a></li>
			<!--  <li><a href="#panel">Panel</a></li>-->
			<li><a href="#datepicker">Datepicker</a></li>
			<!-- <li><a href="#selectmenu">Select Menu</a></li>-->
		</ul>
		<div id="slider">
			<div class="ui-helper-clearfix">
				<h2>About the Slider Widget</h2>
				<div class="leftColumn">
					<h3>How to use the Slider widget:</h3>
					<p>Each slider thumb takes up one stop in the tab order. The slider thumb's value can be changed using the following shortcuts:</p>
					<ul>
						<li>Left Arrow: Descrease value by 1</li>
						<li>Left Arrow: Inscrease value by 1</li>
						<li>Page Down: Descrease value by larger increment</li>
						<li>Page Up: Inscrease value by larger increment</li>
						<li>Home: Set value to minimum</li>
						<li>End: Set value to maximum</li>
						<li>Tab: move focus between multiple thumbs</li>
					</ul>
					<p>To be announced properly, the slider must be used with an ARIA compliant browser and a screen readerin (auto) forms mode or application mode,</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/slider/default.html" target="_blank">Original Slider</a>:</h3>
					<ul>
						<li>Added ARIA markup so role, name &amp; state information is exposed</li>
						<li>Added keyboard support</li>
						<li>Support for Double Slider labeling	  </li>
					</ul>
				</div>
			</div>
			<h2>Demo: Example sliders for choosing a price</h2>
			<h3>Choose the price slider</h3>
			<label for="txt1">Price:</label>
			<div style="padding: 25px;">
				<span id="slider1Val" class="sliderValue"></span>
				<div id="singleSlider1" class="demoWidget"></div>
				<input id="txt1"  type="text" class="fallback"/>
			</div>
			<h3>Choose the min and max price double slider</h3>
			<p>Price range:</p>

			<div class="ui-helper-clearfix">
				<span class="sliderValue" id="slider2ValMin"></span>
				<span class="sliderValue" id="slider2ValMax"></span>
				<div id="rangeSlider1" class="demoWidget"></div>
			</div>
			<div class="fallback">
				 <label for="txt2">Price range minimum:</label>
				 <input id="txt2" type="text" />
				 <label for="txt3">Price range Maximum:</label>
				 <input id="txt3" type="text" />
			 </div>
			 <div class="widgetControls"></div>
		</div>

		<div id="progressbar">
		<div class="ui-helper-clearfix">
			<h2>About the Progress Bar Widget </h2>
			   <div class="leftColumn">
					<h3>How to use the Progress Bar widget:</h3>
					<p>Activate the button labeled &quot;Trigger Progressbar&quot;. A progressbar will appear and automatically increase it's value up to a 100%. This takes about 12 seconds. While the progressbar is being shown, keyboard interaction is prohibited.</p>
					<p>The Progressbar widget does not require any keyboard shortcuts.</p>
					<p>To be announced properly, the an ARIA compliant screen reader must be used that will correctly announce progressbar updates.</p>
				</div>
				<div class="rightColumn">
				   <h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/progressbar/default.html" target="_blank">Original Progressbar</a>:</h3>
				   <ul>
					<li>Added support for high contrast mode</li>
					<li>Added ARIA markup for role &amp; state information</li>
					</ul>
				</div>
			</div>
		   <h2>Demo: Example Progress Bar Simulating a Download Process </h2>
		   <button id="progressTrigger">Simulate a file download using a progress bar indicator</button>
		   <br />
		   <br />
		   <div id="progressDialog">
			   <div id='sampleProgressBar' class="demoWidget"></div>
		   </div>
		</div>
		<div id="menubar">
		<div class="ui-helper-clearfix">
			<h2>About the Menu Bar Widget </h2>
			   <div class="leftColumn">
					<h3>How to use the Menubar widget:</h3>
					<p>The menubar takes up one stop in the tab order, can can be navigated with the following keyboard shortcuts:</p>
					<ul>
						<li>Left Arrow: Collapse currently focused expanded submenu, or move focus to the to left adjacent submenu in the menubar</li>
						<li>Right Arrow: Expand currently focused collapsed menu item, or move focus to the right adjacent submenu in the menubar</li>
						<li>Up Arrow: move focus up in the currently expanded submenu, or wrap focus to its last item</li>
						<li>Down Arrow: move focus down in the currently expanded submenu, or wrap focus to its first item</li>
						<li>Escape: Collapse the currently focused submenu without activating a menu item</li>
						<li>Enter: Activate the currently focused menu item, or expand it if it has a submenu</li>
						<li>Any letter key: Perform a first letter search the the currently expanded submenu</li>
					</ul>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the Menubar (no original version):</h3>
					<ul>
						<li>Added ARIA markup so role, name &amp; state information is exposed</li>
						<li>Added keyboard navigation support</li>
						<li>Added high contrast mode support</li>
					</ul>
				</div>
			</div>
		   <h2>Sample Menubar containing Menu Items and Sub Menus</h2>
		   <ul id="sampleMenubar" class="myTest demoWidget" aria-label="Sample Options">
				<li><a href="#">File</a>
					<ul aria-label="File">
						<li><a href="#">Open...</a></li>
						<li><a href="#">Save</a></li>
						<li><a href="#">Save as...</a></li>
						<li><a href="#">Recent Documents</a>
							<ul>
								<li><a href="#">Document 1</a></li>
								<li><a href="#">Document 2</a></li>
								<li><a href="#">Document 3</a></li>
								<li><a href="#">Continuous Web Accessibility Monitoring</a></li>
								<li><a href="#">Multimedia Transcription and Captioning</a></li>
							</ul>
						</li>
						<li><a href="#">Close</a></li>
						<li><a href="#">Quit</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Edit</a>
					<ul aria-label="Edit">
						<li><a href="#">Copy</a></li>
						<li><a href="#">Cut</a></li>
						<li><a href="#">Paste</a></li>
						<li><a href="#">Options</a>
							<ul>
								<li><a href="#">Sub Options</a>
									<ul>
										<li><a href="#">Sub Option 1</a></li>
										<li><a href="#">Sub Option 2</a></li>
										<li><a href="#">Sub Option 3</a></li>
										<li><a href="#">Sub Option 4</a></li>
										<li><a href="#">Sub Option 5</a></li>
										<li><a href="#">Sub Option 6</a></li>
									</ul>
								</li>
								<li><a href="#">Option 1</a></li>
								<li><a href="#">Option 2</a></li>
								<li><a href="#">Option 3</a></li>
								<li><a href="#">More Options</a>
									<ul>
										<li><a href="#">Sub Option 1</a></li>
										<li><a href="#">Sub Option 2</a></li>
										<li><a href="#">Sub Option 3</a></li>
										<li><a href="#">Sub Option 4</a></li>
										<li><a href="#">Sub Option 5</a></li>
										<li><a href="#">Sub Option 6</a></li>
									</ul>
								</li>
								<li><a href="#">Option 4</a></li>
								<li><a href="#">Option 5</a></li>
								<li><a href="#">Option 6</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">View</a>
					<ul aria-label="View">
						<li><a href="#">Fullscreen</a></li>
						<li><a href="#">Fit into view</a></li>
						<li><a href="#">Customize</a>
							<ul>
								<li><a href="#">480 x 640</a></li>
								<li><a href="#">800 x 600</a></li>
								<li><a href="#">1024 x 768</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">More Options</a>
					<ul aria-label="More options">
						<li><a href="#">Sub Option 1</a></li>
						<li><a href="#">Sub Option 2</a></li>
						<li><a href="#">Sub Option 3</a></li>
						<li><a href="#">Sub Option 4</a></li>
						<li><a href="#">Sub Option 5</a></li>
						<li><a href="#">Sub Option 6</a></li>
					</ul>
				</li>
			</ul>
			<div class="widgetControls"></div>
		</div>
		<div id="button">
			<div class="ui-helper-clearfix">
			   <h2>About the Button Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Button widget:</h3>
					<p>Each button is a separate stop in the tab order, except for button groups which take up only one stop.</p>
					<p>Buttons are activated or toggled using the Space key. Button groups behave similar to radio button groups: The selcted button is changed by using the arrow keys.</p>
					<p>For screen reader users, Toggle Buttons and Button Groups are announced as traditional checkboxes and radio button groups.</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/button/toolbar.html" target="_blank">original Button / Buttongroup</a></h3>
					<ul>
						<li>Applied fixes for visual focus indications</li>
						<li>Added support for high contrast mode</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Buttons of a Media Player</h2>
			<div id="toolbar" role="toolbar">
				<button id="beginning" class="demoWidget">go to beginning</button>
				<button id="rewind" class="demoWidget">rewind</button>
				<button id="play" class="demoWidget">play</button>
				<button id="stop" class="demoWidget">stop</button>
				<button id="forward" class="demoWidget">fast forward</button>
				<button id="end" class="demoWidget">go to end</button>

				<input type="checkbox" id="shuffle" class="demoWidget" /><label for="shuffle">Shuffle</label>

				<fieldset class="hiddenFieldset" id="repeat">
					<legend>Repeat options</legend>
					<input type="radio" id="repeat0" name="repeat" checked="checked" /><label for="repeat0">No Repeat</label>
					<input type="radio" id="repeat1" name="repeat" /><label for="repeat1">Once</label>
					<input type="radio" id="repeatall" name="repeat" /><label for="repeatall">All</label>
				</fieldset>
			</div>
			<div class="widgetControls"></div>
		</div>
		<div id="dialog">
			<div class="ui-helper-clearfix">
				<h2>About the Dialog Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Dialog widget:</h3>
					<p>The demo dialog is activated by clicking on the &quot;Trigger Dialog&quot; button.</p>
					<p>While the dialog contains focus, the tab order will wrap inside the dialog. If the dialog is modal, it is not possible to move focus to the main page until the dialog is closed.</p>
					<p>If the dialog is movable or resizable, the dialog user interface will include buttons that allow these actions to be performed by keyboard. To do this. move focus to the button, and use the arrow keys to move or resize the dialog. </p>
					<p>To close the dialog, press Escape.</p>

				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/dialog/default.html" target="_blank">Original Dialog</a>:</h3>
					<ul>
						<li>Added support for high contrast mode</li>
						<li>Added keyboard support for move and resize actions</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Dialog Containing a Sample Form</h2>
			<a href="#" id="dialogTrigger">Trigger Dialog</a>
			<div id="sampleDialog" title="Profile Information" aria-describedby="dialogDescription" tabindex="-1">
				<div role="group" aria-describedby="dialogDescription">
					<p id="dialogDescription">
						Please share something personal about yourself
					</p>
					<p>
						<label for="sampleField1">Your favorite animal</label>
						<input type="text" id="sampleField1" />
					</p>
					<p>
						<label for="sampleField2">Your favorite color</label>
						<input type="text" id="sampleField2" />
					</p>
				</div>
				<div class="dialogSubGroup" role="group" aria-labelledby="groupLbl1" aria-describedby="groupDesc1">
					<h3 id="groupLbl1">Additional Information</h3>
					<p id="groupDesc1">These fields are optional</p>
					<p>
						<label for="sampleField3">Favorite Food:</label>
						<input type="text" id="sampleField3" />
						<input type="checkbox" id="sampleField4" />
						<label for="sampleField4">Do you Smoke?</label>
					</p>
				</div>


			</div>
		</div>
		<div id="checkbox">
			<div class="ui-helper-clearfix">
				<h2>About the Checkbox Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Checkbox widget:</h3>
					<p>The checkbox can be checked or unchecked by pressing the Space key.</p>

				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/checkbox/default.html" target="_blank">Original Checkbox</a>:</h3>
					<ul>
						<li>Applied fixes for visual indication of focus</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Checkboxes for Choosing Animals</h2>
			<form>
				<div role="group" aria-labelledby="checkboxGroup1">
					<h3 id="checkboxGroup1">Choose your favorite Animals</h3>
					<label><input type="checkbox" class="demoWidget"/>Dog</label>
					<label><input type="checkbox" id="check2" class="demoWidget" />Cat</label>
					<input type="checkbox" id="check3" class="demoWidget" /><label for="check3">Cow</label>
					<input type="checkbox" id="check4" class="demoWidget" /><span><label for="check4">Bee</label></span>
					<input type="checkbox" id="check5" class="demoWidget" /><span><label for="check5">Fish</label></span>
					<input type="checkbox" id="check6" class="demoWidget" /><span><label for="check6">Bears</label></span>
					<input type="checkbox" id="check7" class="demoWidget" /><span><label for="check7">Lizard</label></span>
				</div>
			</form>
			<div class="widgetControls"></div>
		</div>
		<div id="accordion">
			<div class="ui-helper-clearfix">
				<h2>About the Accordion Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Accordion widget:</h3>
					<p>The accordion takes up one tab stop in the tab order. It can be navigated with the following shortcuts:</p>
					<ul>
						<li>Up or Left Arrow: Move focus to the previous accordion header</li>
						<li>Down or Right Arrow: Move focus to the next accordion header</li>
						<li>Space and Enter key: Expand the currently focused accordion header</li>
					</ul>
					<p>
					The accordion is marked up as an ARIA tablist. To be announced properly by screen readers, the accordion must be used
					with an ARIA compliant browser and a screen readerin (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the Original Accordeon:</h3>
					<p>No changes were made. </p>
				</div>
			</div>
			<h2>Demo: Sample Accordion Widgets Containing Animal Information</h2>
			<div id="sampleAccordion" class="demoWidget">
				<h3>
					Dogs
				</h3>
				<div>
					<p>
						The dog (Canis lupus familiaris, is a domesticated
						form of the wolf, a member of the Canidae family of
						the order Carnivora. The term is used for both
						feral and pet varieties. The domestic dog has been
						one of the most widely kept working and companion
						animals in human history. The word "dog" may also
						mean the male of a canine species, as opposed to
						the word "bitch" for the female of the species.
					</p>
					<p>
						The dog quickly became ubiquitous across culture
						across the world, and was extremely valuable to
						early human settlements. For instance, it is
						believed that the successful emigration across the
						Bering Strait might not have been possible without
						sled dogs. Dogs perform many roles for people, such
						as hunting, herding, protection, assisting police
						and military, companionship, and, more recently,
						aiding handicapped individuals. This versatility,
						more than almost any other known animal, has given
						them the nickname "Man's best friend" in the
						western world. Currently, there are estimated to be
						400 million dogs in the world.
					</p>
					<p>
						Over the 15,000 year span that the dog had been
						domesticated, it diverged into only a handful of
						landraces, groups of similar animals whose
						morphology and behavior have been shaped by
						environmental factors and functional roles. As the
						modern understanding of genetics developed, humans
						began to intentionally breed dogs for a wide range
						of specific traits. Through this process, the dog
						has developed into hundreds of varied breeds, and
						shows more behavioral and morphological variation
						than any other land mammal. For example, height
						measured to the withers ranges from a few inches in
						the Chihuahua to a few feet in the Irish Wolfhound;
						color varies from white through grays (usually
						called "blue'") to black, and browns from light
						(tan) to dark ("red" or "chocolate") in a wide
						variation of patterns; coats can be short or long,
						coarse-haired to wool-like, straight, curly, or
						smooth. It is common for most breeds to shed this
						coat.
					</p>
					<p>
						<a href="http://en.wikipedia.org/wiki/Dogs">More
						information about Dogs on Wikipedia</a>
					</p>
				</div>
				<h2>
					Cats
				</h2>
				<div>
					<p>
						The cat (Felis catus), also known as the domestic
						cat or housecat to distinguish it from other
						felines and felids, is a small domesticated
						carnivorous mammal that is valued by humans for its
						companionship and its ability to hunt vermin and
						household pests. Cats have been associated with
						humans for at least 9,500 years, and are currently
						the most popular pet in the world. Due to their
						close association with humans, cats are now found
						almost everywhere on Earth. This extreme
						adaptability and their worrying impacts on native
						animals has led to them being classed as an
						invasive species. Most of these problems are caused
						by the large number of feral cats worldwide, with a
						population of up to 60 million of these animals in
						the United States alone.
					</p>
					<p>
						Cats are similar in size and anatomy to the other
						Felids, with light, flexible bodies and teeth
						adapted to killing small prey. A skilled predator,
						the cat hunts over 1,000 species for food, using
						its excellent eyesight and hearing. Unusually, cats
						have lost the ability to taste sugar and in some
						breeds show hereditary deafness. Despite being
						solitary hunters, cats are a social species and use
						a variety of vocalizations, pheromones and types of
						body language for communication. These include
						meowing, purring, trilling, hissing, growling, and
						grunting. They are also bred and shown as
						registered pedigree pets. This hobby is known as
						cat fancy.
					</p>
					<p>
						As The New York Times wrote in 2007, "Until
						recently the cat was commonly believed to have been
						domesticated in ancient Egypt, where it was a cult
						animal." A study that year found that the lines of
						descent of all house cats probably run through as
						few as five self-domesticating African Wildcats
						(Felis silvestris lybica) circa 8000 BC, in the
						Near East. The earliest direct evidence of cat
						domestication is a kitten that was buried with its
						owner 9,500 years ago in Cyprus.
					</p>
					<p>
						<a href="http://en.wikipedia.org/wiki/cats">More
						information about Cats on Wikipedia</a>
					</p>
				</div>
				<h3>
					Sheep
				</h3>
				<div>
					<p>
						Domestic sheep are quadrupedal, ruminant mammals
						typically kept as livestock. Like all ruminants,
						sheep are members of the order Artiodactyla, the
						even-toed ungulates. Although the name "sheep"
						applies to many species, in everyday usage it
						almost always refers to Ovis aries. Numbering a
						little over 1 billion, domestic sheep are the most
						numerous species in their genus.
					</p>
					<p>
						Sheep are most likely descended from the wild
						mouflon of Europe and Asia. One of the earliest
						animals to be domesticated for agricultural
						purposes, sheep are raised for fleece, meat (lamb,
						hogget or mutton) and milk. A sheep's wool is the
						most widely used of any animal, and is usually
						harvested by shearing. Ovine meat is called lamb
						when from younger animals and mutton when from
						older ones. Sheep continue to be important for wool
						and meat today, and are also occasionally raised
						for pelts, as dairy animals, or as model organisms
						for science.
					</p>
					<p>
						<a href="http://en.wikipedia.org/wiki/sheep">More
						information about Sheep on Wikipedia</a>
					</p>
				</div>
				<h3>
					Fish
				</h3>
				<div>
					<p>
						A fish is any member of a paraphyletic group of
						organisms that consist of all gill-bearing aquatic
						craniate animals that lack limbs with digits.
						Included in this definition are the living hagfish,
						lampreys, and cartilaginous and bony fish, as well
						as various extinct related groups. Most fish are
						ectothermic ("cold-blooded"), allowing their body
						temperatures to vary as ambient temperatures
						change, though some of the large active swimmers
						like white shark and tuna can hold a higher core
						temperature. Fish are abundant in most bodies
						of water. They can be found in nearly all aquatic
						environments, from high mountain streams (e.g.,
						char and gudgeon) to the abyssal and even hadal
						depths of the deepest oceans (e.g., gulpers and
						anglerfish). At 32,000 species, fish exhibit
						greater species diversity than any other group of
						vertebrates.
					</p>
					<p>
						Fish are an important resource worldwide,
						especially as food. Commercial and subsistence
						fishers hunt fish in wild fisheries (see fishing)
						or farm them in ponds or in cages in the ocean (see
						aquaculture). They are also caught by recreational
						fishers, kept as pets, raised by fishkeepers, and
						exhibited in public aquaria. Fish have had a role
						in culture through the ages, serving as deities,
						religious symbols, and as the subjects of art,
						books and movies.
					</p>
					<p>
						Because the term "fish" is defined negatively, and
						excludes the tetrapods (i.e., the amphibians,
						reptiles, birds and mammals) which descend from
						within the same ancestry, it is paraphyletic, and
						is not considered a proper grouping in systematic
						biology. The traditional term pisces (also
						ichthyes) is considered a typological, but not a
						phylogenetic classification.
					</p>
					<p>
						The earliest organisms that can be classified as
						fish were soft-bodied chordates that first appeared
						during the Cambrian period. Although they lacked a
						true spine, they possessed notochords which allowed
						them to be more agile than their invertebrate
						counterparts. Fish would continue to evolve through
						the Paleozoic era, diversifying into a wide variety
						of forms. Many fish of the Paleozoic developed
						external armor that protected them from predators.
						The first fish with jaws appeared in the Silurian
						period, after which many (such as sharks) became
						formidable marine predators rather than just the
						prey of arthropods.
					</p>
					<p>
						<a href="http://en.wikipedia.org/wiki/Fish">More
						information about Fish on Wikipedia</a>
					</p>
				</div>
				<h3>
					Lizards
				</h3>
				<div>
					<p>
						Lizards are a widespread group of squamate
						reptiles, with more than 5600 species , ranging
						across all continents except Antarctica as well as
						most oceanic island chains. The group,
						traditionally recognized as the suborder
						Lacertilia, is defined as all extant members of the
						Lepidosauria (reptiles with overlapping scales),
						which are neither sphenodonts (i.e., tuatara) nor
						snakes &#226;&#8364;&#8220; they form an
						evolutionary grade. While the snakes are
						recognized as falling phylogenetically within the
						Toxicofera clade from which they evolved, the
						Sphenodonts are the sister group to the Squamates,
						the larger monophyletic group, which includes both
						the lizards and the snakes.
					</p>
					<p>
						Lizards typically have feet and external ears,
						while snakes lack both of these characteristics.
						However, because they are defined negatively as
						excluding snakes, lizards have no unique
						distinguishing characteristic as a group. Lizards
						and snakes share a movable quadrate bone,
						distinguishing them from the sphenodonts, which
						have a more primitive and solid diapsid skull. Many
						lizards can detach their tails to escape from
						predators, an act called autotomy, but this ability
						is not shared by all lizards. Vision, including
						color vision, is particularly well developed in
						most lizards, and most communicate with body
						language or bright colors on their bodies as well
						as with pheromones.
					</p>
					<p>
						The adult length of species within the suborder
						ranges from a few cm for chameleons like Brookesia
						micra and geckos like Sphaerodactylus ariasae to
						nearly 3 m (9.8 ft) in the case of the largest
						living varanid lizard, the Komodo Dragon. Some
						extinct varanids reached great size. The extinct
						aquatic mosasaurs reached 17 m (56 ft), and the
						giant monitor Megalania prisca is estimated to have
						reached perhaps 7 m (23 ft).
					</p>
					<p>
						<a href="http://en.wikipedia.org/wiki/Lizards">More
						information about Lizards on Wikipedia</a>
					</p>
				</div>
			</div>
			<div class="widgetControls"></div>
		</div>
		<div id="tree">
			<div class="ui-helper-clearfix">
				<h2>About the Tree Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Tree widget:</h3>
					<p>The tree takes up one tab stop in the tab order. It can be navigated with the following shortcuts:</p>
					<ul>
						<li>Up Arrow: Move focus the the previous tree item</li>
						<li>Down Arrow: Move focus the the next tree item</li>
						<li>Right Arrow: Expand current branch or move focus into its first tree item</li>
						<li>Left Arrow: Move focus to parent branch or collapse current branch</li>
					</ul>
					<p>
					The tree is marked up as an ARIA tree widget. To be announced properly by screen readers, the accordion must be used
					with an ARIA compliant browser and a screen readerin (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jsTree/demo.html" target="_blank">Original Tree</a>:</h3>
					<ul>
						<li>Added ARIA tree markup so role, name &amp; state information is exposed</li>
						<li>Added high contrast support</li>
						<li>Added fixes related to programmatic focus</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Tree View Containing Sample Documents</h2>
			<h3 id="sampleTree1Lbl">My Documents</h3>
			<div id="sampleTree">
				<ul aria-labelledby="sampleTree1Lbl">
					<li> <a href="#">Invoices</a>
						<ul>
							<li> <a href="#">January</a>
									<ul>
									<li> <a href="#">Invoice A</a> </li>
									<li> <a href="#">Invoice B</a> </li>
									<li> <a href="#">Invoice C</a> </li>
								</ul>
								</li>
							<li> <a href="#">February</a>
									<ul>
									<li> <a href="#">Invoice D</a> </li>
									<li> <a href="#">Invoice E</a> </li>
									<li> <a href="#">Invoice F</a> </li>
								</ul>
								</li>
							<li> <a href="#">March</a>
									<ul>
									<li> <a href="#">Invoice G</a> </li>
									<li> <a href="#">Invoice H</a> </li>
									<li> <a href="#">Invoice I</a> </li>
								</ul>
								</li>
						</ul>
						</li>
					<li> <a href="#">Job Applications</a>
						<ul>
							<li> <a href="#">Unhandled</a>
									<ul>
									<li> <a href="#">Application A</a> </li>
									<li> <a href="#">Application B</a> </li>
									<li> <a href="#">Application C</a> </li>
									<li> <a href="#">Application D</a> </li>
									<li> <a href="#">Application E</a> </li>
									<li> <a href="#">Application F</a> </li>
									<li> <a href="#">Application G</a> </li>
									<li> <a href="#">Application H</a> </li>
								</ul>
								</li>
							<li> <a href="#">Accepted</a>
									<ul>
									<li> <a href="#">Peter Merchant</a> </li>
									<li> <a href="#">Susan Jennings</a> </li>
									<li> <a href="#">John Smith</a> </li>
								</ul>
								</li>
							<li> <a href="#">Declined</a>
									<ul>
									<li> <a href="#">John Doe</a> </li>
									<li> <a href="#">Jack Smith</a> </li>
									<li> <a href="#">Hannah Boyd</a> </li>
									<li> <a href="#">Reconsider?</a>
											<ul>
											<li> <a href="#">Sandra johnson</a> </li>
											<li> <a href="#">Dan Smith</a> </li>
											<li> <a href="#">Jason Bourne</a> </li>
											<li> <a href="#">Jason Maple</a> </li>
										</ul>
										</li>
								</ul>
								</li>
						</ul>
						</li>
					<li> <a href="#">Manuals</a>
							<ul>
							<li> <a href="#">Fax</a> </li>
							<li> <a href="#">Copier</a> </li>
							<li> <a href="#">Scanner</a> </li>
							<li> <a href="#">Laptop</a> </li>
						</ul>
						</li>
					<li> <a href="#">Welcome Letter</a> </li>
					<li> <a href="#">Getting Started</a> </li>
					<li> <a href="#">Trouble Shooting</a> </li>
				</ul>
			</div>
		</div>
		<div id="carousel">
		<div class="ui-helper-clearfix">
			<h2>About the Carousel Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Carousel widget:</h3>
					<p>The carousel takes up three tab stops at most:</p>
						<ul>
							<li>The 'previous' button (if not diabled)</li>
							<li>The carrousel items list</li>
							<li>The 'next' button (if not diabled)</li>
						</ul>
					<p>When the carousel list is focused, it can be navigated using the following shortcuts:</p>
					<ul>
						<li>Left Arrow: Move focus to the previous carousel item</li>
						<li>Right Arrow: Move focus to the next carousel item</li>
						<li>Page Up: Move focus to the next carousel item group</li>
						<li>Page Down: Move focus to the previous carousel item group</li>
						<li>Home: Move focus to the first carousel item in the list</li>
						<li>End: Move focus to the last carousel item in the list</li>
					</ul>
					<p>
					The carousel is marked up as an ARIA listbox widget. To be announced properly by screen readers, the accordion must be used
					with an ARIA compliant browser and a screen readerin (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the <a href="http://access.aol.com/aegis/before/jcarousel/examples/static_simple.html" target="_blank">Original Carousel</a>:</h3>
					<ul>
						<li>Added ARIA markup so role, name &amp; state information is exposed</li>
						<li>Added keyboard navigation for switching items using arrow keys</li>
						<li>Made carousel items focusable and navigable</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Carousel Displaying Pictures of Flowers</h2>
			<h3 id="carouselId">My Favorite Flowers Carousel</h3>
			<div class="viewer">
				<img id="viewerImg" alt="" src="images/199481236_dc98b5abb3_s.jpg" width="250" height="250" />
			</div>
			<ul id="mycarousel1" aria-labelledby="carouselId" class="jcarousel-skin-tango">
				<li><img src="images/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="Sun Flower" /></li>
				<li><img src="images/199481072_b4a0d09597_s.jpg" width="75" height="75" alt="White Flower" /></li>
				<li><img src="images/199481087_33ae73a8de_s.jpg" width="75" height="75" alt="Lilly" /></li>
				<li><img src="images/199481108_4359e6b971_s.jpg" width="75" height="75" alt="Orange Flowers" /></li>
				<li><img src="images/199481143_3c148d9dd3_s.jpg" width="75" height="75" alt="Petals" /></li>
				<li><img src="images/199481203_ad4cdcf109_s.jpg" width="75" height="75" alt="More Petals" /></li>
				<li><img src="images/199481218_264ce20da0_s.jpg" width="75" height="75" alt="Rose" /></li>
				<li><img src="images/199481255_fdfe885f87_s.jpg" width="75" height="75" alt="Tulip" /></li>
				<li><img src="images/199480111_87d4cb3e38_s.jpg" width="75" height="75" alt="Unidentified Flower" /></li>
				<li><img src="images/229228324_08223b70fa_s.jpg" width="75" height="75" alt="Purple Flower" /></li>
			</ul>
		</div>
		<div id="tabs">
			<div class="ui-helper-clearfix">
				<h2>About the Tabs Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Tabs widget:</h3>
					<p>The tablist takes up one tab stop in the tab order. It can be navigated with the following shortcuts:</p>
					<ul>
						<li>Left or Up Arrow: Select the previous tab</li>
						<li>Right or Down Arrow: Select the next tab</li>
						<li>Home: Select the first tab</li>
						<li>End: Select the last tab</li>
						<li>Alt + Page Down (from anywhere inside the tab panel: Select the previous tab and move focus to the tablist</li>
						<li>Alt + Page Up (from anywhere inside the tab panel: Select the next tab and move focus to the tablist</li>
					</ul>
					<p>
					The tabs widget is marked up as an ARIA tablist widget. To be announced properly by screen readers, it must be used
					with an ARIA compliant browser and a screen reader that runs in (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes made to the <a href="http://access.aol.com/aegis/before/jquery-ui/demos/tabs/basiccontent.html" target="_blank">Original Tabs</a></h3>
					<ul>
						<li>Added ARIA Tablist markup so role, name &amp; state information is exposed</li>
						<li>Added keyboard navigation for switching tabs using arrow keys</li>
					</ul>
				</div>
			</div>
		<h2 id="tabsDemoLbl">Demo: Sample Tab List Containing Information about Animals</h2>
		<div id="sampleTabs" class="demoWidget">
			<ul>
				<li><a href="#tabsdemo-1">Dogs</a></li>
				<li><a href="#tabsdemo-2">Cats</a></li>
				<li><a href="#tabsdemo-3">Sheep</a></li>
			</ul>
			<div id="tabsdemo-1">
				<h2>Dogs</h2>
				<p>The dog (Canis lupus familiaris, is a domesticated form of the wolf, a member of the Canidae family of the order Carnivora. The term is used for both feral and pet varieties. The domestic dog has been one of the most widely kept working and companion animals in human history. The word "dog" may also mean the male of a canine species, as opposed to the word "bitch" for the female of the species.
				</p><p>
				The dog quickly became ubiquitous across culture across the world, and was extremely valuable to early human settlements. For instance, it is believed that the successful emigration across the Bering Strait might not have been possible without sled dogs. Dogs perform many roles for people, such as hunting, herding, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This versatility, more than almost any other known animal, has given them the nickname "Man's best friend" in the western world. Currently, there are estimated to be 400 million dogs in the world.
				</p><p>
				Over the 15,000 year span that the dog had been domesticated, it diverged into only a handful of landraces, groups of similar animals whose morphology and behavior have been shaped by environmental factors and functional roles. As the modern understanding of genetics developed, humans began to intentionally breed dogs for a wide range of specific traits. Through this process, the dog has developed into hundreds of varied breeds, and shows more behavioral and morphological variation than any other land mammal. For example, height measured to the withers ranges from a few inches in the Chihuahua to a few feet in the Irish Wolfhound; color varies from white through grays (usually called "blue'") to black, and browns from light (tan) to dark ("red" or "chocolate") in a wide variation of patterns; coats can be short or long, coarse-haired to wool-like, straight, curly, or smooth. It is common for most breeds to shed this coat.
				</p><p>
				<p><a href="http://en.wikipedia.org/wiki/Dogs">More information about Dogs on Wikipedia</a></p>
			</div>
			<div id="tabsdemo-2">
			   <h2>Cats</h2>
				<p>
					The cat (Felis catus), also known as the domestic cat or housecat to distinguish it from other felines and felids, is a small domesticated carnivorous mammal that is valued by humans for its companionship and its ability to hunt vermin and household pests. Cats have been associated with humans for at least 9,500 years, and are currently the most popular pet in the world. Due to their close association with humans, cats are now found almost everywhere on Earth. This extreme adaptability and their worrying impacts on native animals has led to them being classed as an invasive species. Most of these problems are caused by the large number of feral cats worldwide, with a population of up to 60 million of these animals in the United States alone.
				</p><p>
					Cats are similar in size and anatomy to the other Felids, with light, flexible bodies and teeth adapted to killing small prey. A skilled predator, the cat hunts over 1,000 species for food, using its excellent eyesight and hearing. Unusually, cats have lost the ability to taste sugar and in some breeds show hereditary deafness. Despite being solitary hunters, cats are a social species and use a variety of vocalizations, pheromones and types of body language for communication. These include meowing, purring, trilling, hissing, growling, and grunting. They are also bred and shown as registered pedigree pets. This hobby is known as cat fancy.
				</p><p>
					As The New York Times wrote in 2007, "Until recently the cat was commonly believed to have been domesticated in ancient Egypt, where it was a cult animal." A study that year found that the lines of descent of all house cats probably run through as few as five self-domesticating African Wildcats (Felis silvestris lybica) circa 8000 BC, in the Near East. The earliest direct evidence of cat domestication is a kitten that was buried with its owner 9,500 years ago in Cyprus.
				</p>
				<p><a href="http://en.wikipedia.org/wiki/cats">More information about Cats on Wikipedia</a></p>
				</div>
				<div id="tabsdemo-3">
					<h2>Sheep</h2>
					<p>
					Domestic sheep are quadrupedal, ruminant mammals typically kept as livestock. Like all ruminants, sheep are members of the order Artiodactyla, the even-toed ungulates. Although the name "sheep" applies to many species, in everyday usage it almost always refers to Ovis aries. Numbering a little over 1 billion, domestic sheep are the most numerous species in their genus.
					</p><p>
					Sheep are most likely descended from the wild mouflon of Europe and Asia. One of the earliest animals to be domesticated for agricultural purposes, sheep are raised for fleece, meat (lamb, hogget or mutton) and milk. A sheep's wool is the most widely used of any animal, and is usually harvested by shearing. Ovine meat is called lamb when from younger animals and mutton when from older ones. Sheep continue to be important for wool and meat today, and are also occasionally raised for pelts, as dairy animals, or as model organisms for science.
					</p>
					<p><a href="http://en.wikipedia.org/wiki/sheep">More information about Sheep on Wikipedia</a></p>
				</div>
			</div>
			<div class="widgetControls"></div>
		</div>
		<div id="tooltip">
		<div class="ui-helper-clearfix">
			<h2>About the Tooltips Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Tooltip widget:</h3>
					<p>A tooltip appears when focusing the trigger element by keyboard or hovering over it with the mouse.
					For focusable elements, the tooltip can be hidden by pressing the Esc key</p>
					<p>
					The tooltips are made available to screen readers using the aria-describedby property. To be announced properly, it must be used
					with an ARIA compliant browser and a screen reader that runs in (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the Original Tooltip:</h3>
					<ul>
						<li>Added keyboard support for tooltips on static content </li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Tooltips</h2>
			<p><a href="#" class="demoWidget" title="That's what this widget is">Tooltips</a> can be attached to any element. When you hover
			the element with your mouse, the title attribute is displayed in a little box next to the element, just like a native tooltip.
			</p>
			<p>Tooltip's are also useful for form elements, to show some additional information in the context of each field.</p>
			<p><label for="age">Your age:</label><input class="demoWidget" id="age" title="We ask for your age only for statistical purposes." /></p>
			<p>Click the field to see the tooltip; when you tab out of the field, it gets hidden.</p>
			<div class="toggleTooltips">
				<div>
					<img src="images/199481072_b4a0d09597_s.jpg" alt="My Favorite Flower" title="My Favorite Flower" class="demoWidget"/>
				</div>
				<div id="tooltipButtonAnchor">
					<blockquote  class="demoWidget" title="Attributed to Elbert Hubbard">The man who doesn't relax and hoot a few hoots voluntarily, now and then, is in great danger of hooting hoots
					and standing on his head for the edification of the pathologist and trained nurse, a little later on.</blockquote>
				</div>
			</div>
			<div class="widgetControls"></div>
		</div>

		<div id="autocomplete">
			<div class="ui-helper-clearfix">
				<h2>About the Autocomplete Widget</h2>
			   <div class="leftColumn">
					<h3>How to use the Autocomplete:</h3>
					<p>Typing into the text field will generate a dropdown list with auto-complete suggestions. The suggestions can be navigated using the arrow keys and selected using the Enter key. </p>
					<p>
					Autocomplete feedback is provided through an ARIA live region. To be announced properly, it must be used
					with an ARIA compliant browser and a screen reader that runs in (auto) forms mode or application mode.
					</p>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to Autocomplete:</h3>
					<ul>
						<li>Added Screen reader support for autocomplete fields using multiple values</li>
						<li>Added notification about number of results found</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Auto Complete Field Listing Countries</h2>
			<div class="ui-widget">
				<label for="tags-1">Your Favorite Country</label>
				<input id="tags-1"  class="demoWidget"/>
			</div>
			<!--
			<h3>Autocomplete with Multiple Values</h3>
			<div class="ui-widget">
				<label for="tags-2">Tag programming languages: </label>
				<input id="tags-2" size="50" class="demoWidget"/>
			</div>
			 -->
			 <div class="widgetControls"></div>
		</div>
		<!--
		<div id="panel">
			<h2>Panel</h2>
			<div id="samplePanel" class="demoWidget">
				<h3><a href="#">About jQuery</a></h3>
				<div id="jq-intro" class="ui-helper-clearfix">
					<h4><span class="jq-jquery"><span>jQuery</span></span> is a new kind of JavaScript Library.</h4>
					<p>jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. <strong>jQuery is designed to change the way that you write JavaScript.</strong></p>
					<ul class="jq-checkpoints ui-helper-clearfix">
						<li><a href="http://docs.jquery.com/Tutorials" title="Lightweight Footprint" class="jq-thickbox">Lightweight Footprint</a>
							<div class="jq-checkpointSubhead" style="display: none; ">
								<p>About 24KB in size <em>(Minified and Gzipped)</em></p>
							</div>
						</li>
						<li><a href="http://docs.jquery.com/Tutorials" title="CSS3 Compliant" class="jq-thickbox">CSS3 Compliant</a>
							<div class="jq-checkpointSubhead" style="display: none; ">
								<p>Supports CSS 1-3 selectors and more!</p>
							</div>

						</li>
						<li><a href="http://docs.jquery.com/Tutorials" title="Cross-browser" class="jq-thickbox">Cross-browser</a>
							<div class="jq-checkpointSubhead" style="display: none; ">
								<p>IE 6.0+, FF 2+, Safari 3.0+, Opera 9.0+, Chrome</p>
							</div>
						</li>
					</ul>
				</div>
				<h3 id="panelTestId"><a href="#">Getting Started with jQuery</a></h3>
				<div>
					<div class="leftColumn">
						 <h4>Useful Links</h4>
						<ul><li> <a href="/Downloading_jQuery" title="Downloading jQuery">Downloading jQuery</a>
						</li><li> <a href="/How_jQuery_Works" title="How jQuery Works">How jQuery Works</a>
						</li><li> <a href="/Frequently_Asked_Questions" title="Frequently Asked Questions">Frequently Asked Questions</a>
						</li><li> <a href="/Tutorials" title="Tutorials">Tutorials</a>
						</li><li> <a href="/Using_jQuery_with_Other_Libraries" title="Using jQuery with Other Libraries">Using jQuery with Other Libraries</a>
						</li><li> <a href="/Types" title="Types">Variable Types</a>
						</li></ul>
					</div>
					<div class="rightColumn">
						<h4>jQuery API Reference</h4>
						<ul><li> <a href="/Core" title="Core">jQuery Core</a>
							</li><li> <a href="/Selectors" title="Selectors">Selectors</a>
							</li><li> <a href="/Attributes" title="Attributes">Attributes</a>
							</li><li> <a href="/Traversing" title="Traversing">Traversing</a>
							</li><li> <a href="/Manipulation" title="Manipulation">Manipulation</a>
							</li><li> <a href="/CSS" title="CSS">CSS</a>
							</li><li> <a href="/Events" title="Events">Events</a>
							</li><li> <a href="/Effects" title="Effects">Effects</a>
							</li><li> <a href="/Ajax" title="Ajax">Ajax</a>
							</li><li> <a href="/Utilities" title="Utilities">Utilities</a>
							</li><li> <a href="/Internals" title="Internals">Internals</a>
							</li></ul>
					</div>
				</div>
				<h3><a href="#">jQuery Resources</a></h3>
				<div id="jq-resources" class="ui-helper-clearfix">

					<div class="jq-gettingStarted leftColumn">
						<h3>Getting Started With jQuery</h3>
						<ul>
							<li><a href="http://docs.jquery.com/How_jQuery_Works">How jQuery Works</a></li>
							<li><a href="http://docs.jquery.com/Tutorials">Tutorials</a></li>
							<li><a href="http://docs.jquery.com/Using_jQuery_with_Other_Libraries">Using jQuery with other libraries</a></li>
							<li><a href="http://docs.jquery.com/">jQuery Documentation</a></li>

						</ul>
					</div>
					<div class="jq-devResources rightColumn">
						<h3>Developer Resources</h3>
						<ul>
							<li><a href="http://docs.jquery.com/Discussion">Mailing List</a></li>
							<li><a href="http://docs.jquery.com/Downloading_jQuery">Source code / SVN</a></li>

							<li><a href="http://docs.jquery.com/Plugins/Authoring">Plugin Authoring</a></li>
							<li><a href="http://dev.jquery.com/newticket/">Submit a New Bug Report</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h3>Accessibility Changes Made to the Panel:</h3>
			<ul>
				<li>Added ARIA markup and labeling</li>
			</ul>
		</div>
		 -->
		 <div id="datepicker">
		 	<h2>About the Date Picker Widget</h2>
		 	<div class="ui-helper-clearfix">
			   <div class="leftColumn">
					<h3>How to use the Datepicker widget:</h3>
					<p>The datepicker can be implemented as an inline datepicker or as a popup datepicker.</p>
					<p>Inline datepickers have a separate tab stop for each control, and a single tab stop for the date grid itself. The grid can be navigated using the following shortcuts:</p>
					<ul>
						<li>Arrow Keys: Move up, down, left or right in the grid. If the beginning or end of the month is reached, the grid will automatically change to the next or previous motnh</li>
						<li>Enter Key: Select the currently focused day</li>
						<li>Home: Move focus to first day of the month</li>
						<li>End: Move focus to last day of the month</li>
						<li>Page Up: Switch to previous month</li>
						<li>Page Down: Switch to next month</li>
						<li>Alt + Page Up: Switch to previous year</li>
						<li>Alt + Page Down: Switch to next year</li>
					</ul>
					<p>Popup date pickers have the same shortcuts as inline datepickers, plus the following shotcuts:</p>
					<ul>
						<li>Down or Up Arrow key (when text field has focus): Move focus into the expanded date grid</li>
						<li>Escape key (when text field has focus): Collapse the expanded date grid</li>
						<li>Enter (when date grid has focus): Select currently focused date, collapse the date grid and move focus back to the text field</li>
						<li>Escape (when date grid has focus): Collapse the date grid without making a selection and move focus back to the text field</li>
					</ul>
				</div>
				<div class="rightColumn">
					<h3>Accessibility Changes Made to the Datepicker:</h3>
					<ul>
						<li>ARIA Implementation</li>
						<li>Keyboard & Focus Handling</li>
					</ul>
				</div>
			</div>
			<h2>Demo: Sample Datepickers</h2>
			<h3>Popup Version:</h3>
			<p><label for="datepicker1">Date of Birth:</label> <input type="text" id="datepicker1" class="demoWidget" /></p>
			<h3>Inline Version:</h3>
			<div id="datepicker2" class="demoWidget"></div>
			<p id="dp2-output"></p>
			<div class="widgetControls"></div>
		</div>
	</div>
	<!-- end tabs -->
	<div class="ui-helper-clearfix">
		<div class="leftColumn">
			<h1>Source</h1>
			<p>Last updated: <strong id="timeStamp"></strong></p>
			<p><a href="http://hanshillen.github.com/jqtest/jquery-ui_accessibilityenhancements.zip">Download the latest version of this demo as a zip file</a></p>
		</div>
		<div class="rightColumn">
			<h1>Acknowledgements</h1>
			<p>Accessibility work on these widgets was implemented by <a href="http://www.paciellogroup.com/">The Paciello Group (TPG)</a> and funded by <a href="http://corp.aol.com/our-values/accessibility">AOL</a> and <a href="http://www.aegis-project.eu/">AEGIS</a>.</p>
			<ul class="logoList">
				<li><a href="http://www.aegis-project.eu/"><img src="images/AEGIS%20Logo.png" alt="Aegis" /></a></li>
				<li><a href="http://corp.aol.com/our-values/accessibility"><img src="images/AOL%20Logo.png" alt="AOL" /></a></li>
				<li><a href="http://www.paciellogroup.com/"><img class="tpgLogo" src="images/TPG%20Logo.gif" alt="TPG" /></a></li>
			</ul>
		</div>
	</div>

</div><!-- End demo -->
	<!--
	Reason for separating templates: Refreshing the entire datepicker during interaction confuses screen readers, specfically because
	the grid heading is marked up as a live region and will often not update if it's destroyed and recreated instead of just having its
	text change. Additionally, interacting with the prev and next links would cause loss of focus issues because the links being interacted
	with will disappear while focused. With this approach there are 3 templates: the outer template (#ui-datepicker-tmpl), The grid template
	(#ui-datepicker-grid-tmpl) and the title template (#ui-datepicker-title-tmpl). This gets rid of the accessibility problems mentioned, and
	also allows developers to modify parts of the datepicker without having to duplicate the entire template.
	 -->
	<script id="ui-datepicker-grid-tmpl" type="text/x-jquery-tmpl">
		<table class="ui-datepicker-calendar" role="grid" aria-readonly="true" aria-labelledby="${instance.id}-month-lbl" tabindex="0" aria-activedescendant="${instance.id}-${instance.focusedDay}">
			<thead role="presentation">
				<tr role="row">
					{{each(index, day) date.weekdays()}}
						<th class="" role="columnheader" abbr="${day.fullname}" aria-label="${day.fullname}"><span title="${day.fullname}">${day.shortname}</span></th>
					{{/each}}
				</tr>
			</thead>
			<tbody role="presentation">
				{{each(weekIndex, week) date.days()}}
				<tr role="row">
					{{each(dayIndex, day) week.days}}
						<td {{if day.render}}id="${instance.id}-${day.date}"{{/if}} role="gridcell" aria-selected="{{if day.current}}true{{else}}false{{/if}}" {{if !day.selectable}}aria-disabled="true"{{/if}}>
							{{if day.render}}
								{{if day.selectable}}
								<a class="{{if day.date == instance.focusedDay}}ui-state-focus {{/if}}ui-state-default{{if day.current}} ui-state-active{{/if}}{{if day.today}} ui-state-highlight{{/if}} ${day.extraClasses}" href="#" tabindex="-1" data-timestamp=${day.timestamp}>
									${day.date}
									{{if day.today}} <span class="ui-helper-hidden-accessible">, ${labels.currentText}</span>{{/if}}
								</a>
								{{/if}}
								{{if !day.selectable}}
								<span class="{{if day.current}} ui-state-active{{/if}}{{if day.today}} ui-state-highlight{{/if}} ${day.extraClasses}">
									${day.date}
								</span>
								{{/if}}
							{{/if}}
						</td>
					{{/each}}
				</tr>
				{{/each}}
			</tbody>
		</table>
	</script>

	<script id="ui-datepicker-title-tmpl" type="text/x-jquery-tmpl">
		<span class="ui-datepicker-month">${date.monthname()}</span> <span class="ui-datepicker-year">${date.year()}</span>
	</script>

	<script id="ui-datepicker-tmpl" type="text/x-jquery-tmpl">
		<div class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" role="region" aria-labelledby="${instance.id}-title">
			<div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
				<a href="#" class="ui-datepicker-prev ui-corner-all" title="${labels.prevText}"><span class="ui-icon ui-icon-circle-triangle-w">${labels.prevText}</span></a>
				<a href="#" class="ui-datepicker-next ui-corner-all" title="${labels.nextText}"><span class="ui-icon ui-icon-circle-triangle-e">${labels.nextText}</span></a>
				<div role="header" id="${instance.id}-title">
					<div id="${instance.id}-month-lbl" class="ui-datepicker-title">
						{{tmpl({date : date}) "#ui-datepicker-title-tmpl"}}
					</div>
					<span class="ui-helper-hidden-accessible">, ${labels.datePickerRole}</span>
				</div>
			</div>
			{{tmpl({date : date, labels : labels, instance : instance}) "#ui-datepicker-grid-tmpl"}}
			<div class="ui-datepicker-buttonpane ui-widget-content">
				<button class="ui-datepicker-current">${labels.currentText}</button>
				<button class="ui-datepicker-close">${labels.closeText}</button>
			</div>
		</div>
	</script>
</body>
</html>
